.available-books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: rgba(247, 247, 247, 1);
}

.available-books-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  font-family: Montserrat;
}

.available-books-button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: Montserrat;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.available-books-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}



